{% extends "base.html" %}
{% block navigation %}
{% endblock %}

{% block content %}

    <section class="page-section">

        <div class="classes-container">
            <div class="classes-container-2">
                <h1 class="page-heading">Class Search</h1>
                <div class="classes-container-3">
                    <div class="search-filter-container">
                        <div class="search-container">
                            <div class="search-bar-icon">
                                <input class="search-bar" id="search-bar" name="search-bar" onkeydown="handleKeyPress(event)" placeholder="Search">
                                <button class="search-icon" onclick="searchClasses()"><img src="../static/images/search.svg"></button>
                            </div>
                            <button class="create-course" onclick="createCourseOverlayOn()">
                                Create unlisted course
                                <img src="../static/images/edit.svg">
                            </button>
                        </div>
                        <div class="filter-container">
                            <div class="class-filter">
                                <p class="text-filter">Semester</p>
                                <a class="filter-icon"><img src="../static/images/filter.svg"></a>
                            </div>
                            <div class="class-filter">
                                <p class="text-filter">Level</p>
                                <a class="filter-icon"><img src="../static/images/filter.svg"></a>
                            </div>
                            <div class="class-filter">
                                <p class="text-filter">Requirements</p>
                                <a class="filter-icon"><img src="../static/images/filter.svg"></a>
                            </div>
                        </div>
                    </div>
                    <div id="class-database-container" class="class-database-container">
                    </div>

                    <div id="unlisted-course-output">     
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}

{% block footer %}
{% endblock %}
