{% extends "base.html" %}
{% block navigation %}
{% endblock %}

{% block content %}

<!-- Overlays -->

<div id="semester-filter-overlay-container">
    <div class="semester-filter">
        <div class="semester-filter-list">
            <input class="checkbox" type="checkbox" name="fall-semester" value="Fall" checked="true">
            <label for="fall-semester" class="checkbox-text">Fall</label><br>
        </div>
        <div class="semester-filter-list">
            <input class="checkbox" type="checkbox" name="spring-semester" value="Fall" checked="true">
            <label for="spring-semester" class="checkbox-text">Spring</label><br>
        </div>
    </div>
</div>

<div id="level-filter-overlay-container">
    <div class="semester-filter">
        <div class="semester-filter-list">
            <input class="checkbox" type="checkbox" name="10000" value="10000" checked="true">
            <label for="10000" class="checkbox-text">10000-19999</label><br>
        </div>
        <div class="semester-filter-list">
            <input class="checkbox" type="checkbox" name="20000" value="20000" checked="true">
            <label for="20000" class="checkbox-text">20000-29999</label><br>
        </div>
        <div class="semester-filter-list">
            <input class="checkbox" type="checkbox" name="30000" value="30000" checked="true">
            <label for="30000" class="checkbox-text">30000-39999</label><br>
        </div>
        <div class="semester-filter-list">
            <input class="checkbox" type="checkbox" name="40000" value="40000" checked="true">
            <label for="40000" class="checkbox-text">40000-49999</label><br>
        </div>
    </div>
</div>

<div id="req-filter-overlay-container">
    <div class="semester-filter">
        <div class="semester-filter-list">
            <input class="checkbox" type="checkbox" name="uni-req" value="uni-req" checked="true">
            <label for="uni-req" class="checkbox-text">University Requirements</label><br>
        </div>
        <div class="semester-filter-list">
            <input class="checkbox" type="checkbox" name="major-req" value="major-req" checked="true">
            <label for="major-req" class="checkbox-text">Major Requirements</label><br>
        </div>
        <div class="semester-filter-list">
            <input class="checkbox" type="checkbox" name="major-elective" value="major-elective" checked="true">
            <label for="major-elective" class="checkbox-text">Major Electives</label><br>
        </div>
    </div>
</div>

<!-- Page Code -->


    <section class="page-section">

        <div class="classes-container">
            <div class="classes-container-2">
                <h1 class="page-heading">Class Search</h1>
                <div class="classes-container-3">
                    <div class="search-filter-container">
                        <div class="search-container">
                            <div class="search-bar-icon">
                                <input class="search-bar" id="search-bar" name="search-bar" onkeydown="handleKeyPress(event)" placeholder="Search">
                                <button class="search-icon" onclick="searchClasses()"><img src="../static/images/search.svg"></button>
                            </div>
                            <button class="create-course" onclick="createCourseOverlayOn()">
                                Create unlisted course
                                <img src="../static/images/edit.svg">
                            </button>
                        </div>
                        <div class="filter-container">
                            <div class="class-filter" id="semester-filter-container">
                                <p class="text-filter">Semester</p>
                                <div class="filter-icon">
                                    <button class="filter-button" id="semester-filter"><img src="../static/images/filter.svg"></button>
                                </div>
                            </div>
                            <div class="class-filter" id="level-filter-container">
                                <p class="text-filter">Level</p>
                                <div class="filter-icon">
                                    <button class="filter-button" id="level-filter"><img src="../static/images/filter.svg"></button>
                                </div>
                            </div>
                            <div class="class-filter" id="req-filter-container">
                                <p class="text-filter">Requirements</p>
                                <div class="filter-icon">
                                    <button class="filter-button" id="req-filter"><img src="../static/images/filter.svg"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="class-database-container" class="class-database-container">
                    </div>

                </div>
            </div>
        </div>
    </section>


{% endblock %}

{% block footer %}
{% endblock %}
