{% extends "base.html" %}
{% block navigation %}
{% endblock %}

{% block content %}

<section class="page-section">
    <div class="home-container">
        <div class="home-starter">
            <div class="home-text">
                <h1 class="home-heading">Welcome to PLND4U</h1>
                <h2 class="home-subheading">Your four years in one place.</h2>
            </div>
            <a href="plan" class="home-button">Let's get started!</a>
        </div>
    </div>
</section>

{% endblock %}

{% block footer %}
{% endblock %}


