{% extends "base.html" %}
{% block navigation %}
{% endblock %}

{% block content %}

    <section class="page-section">
        <div class="plan-container">
            <div class="plan-container-heading">
                <h2 class="page-heading">Your Plan</h2>
            </div>
            <div class="plan-container-2">
                <div class="plan-content">
                    <div class="two-year-plan">
                        <div class="plan-card">
                            <div class="plan-card-heading">
                                <h3 class="plan-card-year-text">Freshman</h3>
                            </div>
                            <div class="plan-card-all-semesters">
                                <div class="plan-card-semester">
                                    <div class="plan-card-description">
                                        <div class="plan-card-semester-text">Fall</div>
                                        <div class="normal-text">6 Credits</div>
                                    </div>
                                    <div class="plan-card-courses">
                                        <div class="plan-card-single-course">
                                            <div class="plan-card-single-course-content">
                                                <div class="plan-card-single-course-text">
                                                    <h4 class="plan-card-single-course-code">CHEM 10171</h4>
                                                    <p class="plan-card-single-course-name">General Chemistry</p>
                                                </div>
                                                <button class="remove-button"><img src="../static/images/remove.svg"></button>
                                            </div>
                                        </div>
                                        <div>Fall Course Card 2</div>
                                    </div>
                                </div>
                                <div class="plan-card-semester">
                                    <div class="plan-card-description">
                                        <div class="plan-card-semester-text">Spring</div>
                                        <div class="normal-text">9 Credits</div>
                                    </div>
                                    <div class="plan-card-courses">
                                        <div class="plan-card-single-course">
                                            <div class="plan-card-single-course-content">
                                                <div class="plan-card-single-course-text">
                                                    <h4 class="plan-card-single-course-code">CHEM 10171</h4>
                                                    <p class="plan-card-single-course-name">General Chemistry</p>
                                                </div>
                                                <button class="remove-button"><img src="../static/images/remove.svg"></button>
                                            </div>
                                        </div>
                                        <div class="plan-card-single-course">
                                            <div class="plan-card-single-course-content">
                                                <div class="plan-card-single-course-text">
                                                    <h4 class="plan-card-single-course-code">CSE 20311</h4>
                                                    <p class="plan-card-single-course-name">Fundamentals of Com...</p>
                                                </div>
                                                <button class="remove-button"><img src="../static/images/remove.svg"></button>
                                            </div>
                                        </div>
                                        <div class="plan-card-single-course">
                                            <div class="plan-card-single-course-content">
                                                <div class="plan-card-single-course-text">
                                                    <h4 class="plan-card-single-course-code">MATH 10550</h4>
                                                    <p class="plan-card-single-course-name">Calculus 3</p>
                                                </div>
                                                <button class="remove-button"><img src="../static/images/remove.svg"></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="plan-card">
                            <div class="plan-card-heading">
                                <h3 class="plan-card-year-text">Sophomore</h3>
                            </div>
                            <div class="plan-card-all-semesters">
                                <div class="plan-card-semester">
                                    <div class="plan-card-description">
                                        <div class="plan-card-semester-text">Fall</div>
                                        <div class="normal-text">6 Credits</div>
                                    </div>
                                    <div class="plan-card-courses">
                                        <div>Fall Course Card 1</div>
                                        <div>Fall Course Card 2</div>
                                    </div>
                                </div>
                                <div class="plan-card-semester">
                                    <div class="plan-card-description">
                                        <div class="plan-card-semester-text">Spring</div>
                                        <div class="normal-text">9 Credits</div>
                                    </div>
                                    <div class="plan-card-courses">
                                        <div>Spring Course Card 1</div>
                                        <div>Spring Course Card 2</div>
                                        <div>Spring Course Card 3</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="two-year-plan">
                        <div class="plan-card">
                            <div class="plan-card-heading">
                                <h3 class="plan-card-year-text">Junior</h3>
                            </div>
                            <div class="plan-card-all-semesters">
                                <div class="plan-card-semester">
                                    <div class="plan-card-description">
                                        <div class="plan-card-semester-text">Fall</div>
                                        <div class="normal-text">6 Credits</div>
                                    </div>
                                    <div class="plan-card-courses">
                                        <div>Fall Course Card 1</div>
                                        <div>Fall Course Card 2</div>
                                    </div>
                                </div>
                                <div class="plan-card-semester">
                                    <div class="plan-card-description">
                                        <div class="plan-card-semester-text">Spring</div>
                                        <div class="normal-text">9 Credits</div>
                                    </div>
                                    <div class="plan-card-courses">
                                        <div>Spring Course Card 1</div>
                                        <div>Spring Course Card 2</div>
                                        <div>Spring Course Card 3</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="plan-card">
                            <div class="plan-card-heading">
                                <h3 class="plan-card-year-text">Senior</h3>
                            </div>
                            <div class="plan-card-all-semesters">
                                <div class="plan-card-semester">
                                    <div class="plan-card-description">
                                        <div class="plan-card-semester-text">Fall</div>
                                        <div class="normal-text">6 Credits</div>
                                    </div>
                                    <div class="plan-card-courses">
                                        <div>Fall Course Card 1</div>
                                        <div>Fall Course Card 2</div>
                                    </div>
                                </div>
                                <div class="plan-card-semester">
                                    <div class="plan-card-description">
                                        <div class="plan-card-semester-text">Spring</div>
                                        <div class="normal-text">9 Credits</div>
                                    </div>
                                    <div class="plan-card-courses">
                                        <div>Spring Course Card 1</div>
                                        <div>Spring Course Card 2</div>
                                        <div>Spring Course Card 3</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div id="unlisted-course-output">
            {{ enrollments }}
        </div>
        <div id="added-courses">
            
        </div>
        <button onclick="courseDel()">Delete unlisted course</button>
    </section>


{% endblock %}

{% block footer %}
{% endblock %}
