{% extends "base.html" %}
{% block navigation %}
{% endblock %}

{% block content %}

    <section class="page-section">
        <div class="plan-container">
            <div class="plan-container-heading">
                <h2 class="page-heading">Your Plan</h2>
            </div>
            <div class="plan-container-2">
                <div class="plan-content">
                    <div class="two-year-plan">
                        <div class="plan-card">
                            <div class="plan-card-heading">
                                Freshman
                            </div>
                            <div class="plan-card-all-semesters">
                                <div class="plan-card-semester">
                                    <div class="plan-card-description">
                                        <div>Fall</div>
                                        <div>6 Credits</div>
                                    </div>
                                    <div class="plan-card-courses">
                                        <div>Fall Course Card 1</div>
                                        <div>Fall Course Card 2</div>
                                    </div>
                                </div>
                                <div class="plan-card-semester">
                                    <div class="plan-card-description">
                                        <div>Spring</div>
                                        <div>9 Credits</div>
                                    </div>
                                    <div class="plan-card-courses">
                                        <div>Spring Course Card 1</div>
                                        <div>Spring Course Card 2</div>
                                        <div>Spring Course Card 3</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="plan-card">
                            <div class="plan-card-heading">
                                Sophomore
                            </div>
                            <div class="plan-card-all-semesters">
                                <div class="plan-card-semester">
                                    <div class="plan-card-description">
                                        <div>Fall</div>
                                        <div>6 Credits</div>
                                    </div>
                                    <div class="plan-card-courses">
                                        <div>Fall Course Card 1</div>
                                        <div>Fall Course Card 2</div>
                                    </div>
                                </div>
                                <div class="plan-card-semester">
                                    <div class="plan-card-description">
                                        <div>Spring</div>
                                        <div>9 Credits</div>
                                    </div>
                                    <div class="plan-card-courses">
                                        <div>Spring Course Card 1</div>
                                        <div>Spring Course Card 2</div>
                                        <div>Spring Course Card 3</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="two-year-plan">
                        <div class="plan-card">
                            <div class="plan-card-heading">
                                Junior
                            </div>
                            <div class="plan-card-all-semesters">
                                <div class="plan-card-semester">
                                    <div class="plan-card-description">
                                        <div>Fall</div>
                                        <div>6 Credits</div>
                                    </div>
                                    <div class="plan-card-courses">
                                        <div>Fall Course Card 1</div>
                                        <div>Fall Course Card 2</div>
                                    </div>
                                </div>
                                <div class="plan-card-semester">
                                    <div class="plan-card-description">
                                        <div>Spring</div>
                                        <div>9 Credits</div>
                                    </div>
                                    <div class="plan-card-courses">
                                        <div>Spring Course Card 1</div>
                                        <div>Spring Course Card 2</div>
                                        <div>Spring Course Card 3</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="plan-card">
                            <div class="plan-card-heading">
                                Senior
                            </div>
                            <div class="plan-card-all-semesters">
                                <div class="plan-card-semester">
                                    <div class="plan-card-description">
                                        <div>Fall</div>
                                        <div>6 Credits</div>
                                    </div>
                                    <div class="plan-card-courses">
                                        <div>Fall Course Card 1</div>
                                        <div>Fall Course Card 2</div>
                                    </div>
                                </div>
                                <div class="plan-card-semester">
                                    <div class="plan-card-description">
                                        <div>Spring</div>
                                        <div>9 Credits</div>
                                    </div>
                                    <div class="plan-card-courses">
                                        <div>Spring Course Card 1</div>
                                        <div>Spring Course Card 2</div>
                                        <div>Spring Course Card 3</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p>Your Plan</p>


        <div id="unlisted-course-output">
            {{ enrollments }}
        </div>
        <div id="added-courses">
            
        </div>
        <button onclick="courseDel()">Delete unlisted course</button>
    </section>


{% endblock %}

{% block footer %}
{% endblock %}
