{% extends "base.html" %}
{% block navigation %}
{% endblock %}

{% block content %}

    <section class="page-section">
        <div class="plan-container">
            <div class="plan-container-heading">
                <h2 class="page-heading">Your Plan</h2>
            </div>
            <div class="plan-container-button">
                <button class="create-course" onclick="createCourseOverlayOn()">
                    Create unlisted course
                    <img src="../static/images/edit.svg">
                </button>
            </div>
            <div class="plan-container-2">
                <div class="plan-content">
                    <div class="two-year-plan">
                        <div class="plan-card">
                            <div class="plan-card-heading">
                                <h3 class="plan-card-year-text">Freshman</h3>
                            </div>
                            <div class="plan-card-all-semesters">
                                <div class="plan-card-semester">
                                    <div class="plan-card-description">
                                        <div class="plan-card-semester-text">Fall</div>
                                        <div class="normal-text">0 Credits</div>
                                    </div>
                                    <div class="plan-card-courses" id="FRFA">
                                    </div>
                                </div>
                                <div class="plan-card-semester">
                                    <div class="plan-card-description">
                                        <div class="plan-card-semester-text">Spring</div>
                                        <div class="normal-text">0 Credits</div>
                                    </div>
                                    <div class="plan-card-courses" id="FRSP">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="plan-card">
                            <div class="plan-card-heading">
                                <h3 class="plan-card-year-text">Sophomore</h3>
                            </div>
                            <div class="plan-card-all-semesters">
                                <div class="plan-card-semester">
                                    <div class="plan-card-description">
                                        <div class="plan-card-semester-text">Fall</div>
                                        <div class="normal-text">0 Credits</div>
                                    </div>
                                    <div class="plan-card-courses" id="SOFA">
                                    </div>
                                </div>
                                <div class="plan-card-semester">
                                    <div class="plan-card-description">
                                        <div class="plan-card-semester-text">Spring</div>
                                        <div class="normal-text">0 Credits</div>
                                    </div>
                                    <div class="plan-card-courses" id="SOSP">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="two-year-plan">
                        <div class="plan-card">
                            <div class="plan-card-heading">
                                <h3 class="plan-card-year-text">Junior</h3>
                            </div>
                            <div class="plan-card-all-semesters">
                                <div class="plan-card-semester">
                                    <div class="plan-card-description">
                                        <div class="plan-card-semester-text">Fall</div>
                                        <div class="normal-text">0 Credits</div>
                                    </div>
                                    <div class="plan-card-courses" id="JUFA">
                                    </div>
                                </div>
                                <div class="plan-card-semester">
                                    <div class="plan-card-description">
                                        <div class="plan-card-semester-text">Spring</div>
                                        <div class="normal-text">0 Credits</div>
                                    </div>
                                    <div class="plan-card-courses" id="JUSP">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="plan-card">
                            <div class="plan-card-heading">
                                <h3 class="plan-card-year-text">Senior</h3>
                            </div>
                            <div class="plan-card-all-semesters">
                                <div class="plan-card-semester">
                                    <div class="plan-card-description">
                                        <div class="plan-card-semester-text">Fall</div>
                                        <div class="normal-text">0 Credits</div>
                                    </div>
                                    <div class="plan-card-courses" id="SEFA">
                                    </div>
                                </div>
                                <div class="plan-card-semester">
                                    <div class="plan-card-description">
                                        <div class="plan-card-semester-text">Spring</div>
                                        <div class="normal-text">0 Credits</div>
                                    </div>
                                    <div class="plan-card-courses" id="SESP">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="plan-card">
                        <div class="plan-card-heading">
                            <h3 class="plan-card-year-text">Unlisted Courses</h3>
                        </div>
                        <div class="plan-card-all-semesters">
                            <div class="plan-card-semester">
                                <div class="plan-card-description">
                                    <div class="plan-card-semester-text">Fall</div>
                                    <div class="normal-text">0 Credits</div>
                                </div>
                                <div class="plan-card-courses" id="UNLT">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}

{% block footer %}
{% endblock %}
