{% extends "base.html" %}
{% block navigation %}
{% endblock %}

{% block content %}

<section class="page-section">
    <div class="register-container">
        <div class="register-container-2">
            <div class="register-container-3">
                <div class="register-text-fields">
                    <h1 class="page-heading">Register</h1>
                    <form class="register-text-fields" action="">
                        <!--
                        <div class="text-frame">
                            <label class="text-label" for="first_name">First name</label>
                            <input class="text-input" type="text" id="first_name" name="first_name">
                        </div>
                        <div class="text-frame">
                            <label class="text-label" for="last_name">Last name</label>
                            <input class="text-input" type="text" id="last_name" name="last_name">
                        </div>
                    
                        <div class="text-select">
                            <div class="text-frame">
                                <label class="text-label" for="grad">Graduation year</label>
                                <select class="text-option" id="grad" name="grad">
                                    <option value="none">Select one</option>
                                    <option value="2024">2024</option>
                                    <option value="2025">2025</option>
                                    <option value="2026">2026</option>
                                    <option value="2027">2027</option>
                                </select>
                            </div>
                        -->
                        </div>
                        <div class="text-frame">
                            <label class="text-label" for="netid">Username</label>
                            <input class="text-input" type="text" id="netid" name="netid">
                        </div>
                        <div class="text-frame">
                            <label class="text-label" for="major">Major</label>
                            <select class="text-option" id="major" name="major">
                                <option value="none">Select one</option>
                                <option value="aero">Aerospace Engineering</option>
                                <option value="cbe">Chemical and Biomolecular Engineering</option>
                                <option value="ce">Civil Engineering</option>
                                <option value="cpeg">Computer Engineering</option>
                                <option value="cse">Computer Science</option>
                                <option value="ee">Electrical Engineering</option>
                                <option value="ees">Environmental and Earth Sciences</option>
                                <option value="env">Environmental Engineering</option>
                                <option value="mech">Mechanical Engineering</option>
                            </select>
                        </div>
                        <div class="text-frame">
                            <label class="text-label" for="pw">Password</label>
                            <input class="text-input" type="password" id="pw" name="pw" onkeydown="handleKeyPress(event)">
                        </div>
                    </form>
                </div>
                <button onclick="sendRegisterData()" class="register-button">Start planning!</button>
                <div id="register-output"></div>
            </div>
            <div class="register-redirect">
                <a class="normal-text">Registered with us?</a>
                <a href="login" class="register-here-text">Log in here.</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block footer %}
{% endblock %}

